## Observable Trends

- Between 576 of players, 84% male and 14% female, which means it is designed mainly for male. This big group of men assigned 1,967 of total purchase value. As a result, we can understand this game isn’t a favorite female game so if the designers want to attract female, they should add more female characteristics in their game. 
- The range age (20-24) have 44 of total players and the total purchase value of this range is 1,114 which is a huge amount. So, we see this game is more designed for this group. The second position is for (15-19) that is 18% of total portion, also we can notice the big difference between first and second position.
- “Final Critic “and “Oathbreaker, Last Hope of the Breaking Storm” are the most popular and profitable items among all 179 items. For future, developers and designers of this game could planning for add more similar items in this game to increase their profit.

In [124]:
# Dependencies and Setup
import pandas as pd

# File to Load
find_path = "Resource/02-Homework_04-Pandas_HeroesOfPymoli_Resources_purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(find_path)
purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

 ## Player Count
 - Total Number of Players

In [113]:
total_number_players = len(purchase_data["SN"].unique())
total_number_players_data_frame = pd.DataFrame({"Total Players":[total_number_players]})
total_number_players_data_frame

   Total Players
0            576

## Purchasing Analysis (Total)
- Number of Unique Items

- Average Purchase Price

- Total Number of Purchases

- Total Revenue

In [114]:
number_unique_items = len(purchase_data["Item Name"].unique())
number_unique_items

179

In [6]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [7]:
number_purchases = len(purchase_data.index)
number_purchases

780

In [8]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [9]:
pd.options.display.float_format = '${:,.2f}'.format
summary_data_frame = pd.DataFrame (
    {"Number of Unique Items" : [number_unique_items] ,
    "Average Price" : [average_price] , 
    "Number of Purchases" : [number_purchases] ,
    "Total Revenue" : [total_revenue ]
})
summary_data_frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

##  Gender Demographics
- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [10]:
male_playes = purchase_data.loc[(purchase_data["Gender"] == "Male") , :]
clean_male_playes = male_playes["SN"].unique()
count_male_playes = len(clean_male_playes)
count_male_playes

484

In [11]:
percent_male_playes = (count_male_playes/total_number_players)*100
percent_male_playes

84.02777777777779

In [12]:
female_playes = purchase_data.loc[(purchase_data["Gender"] == "Female") , :]
clean_female_playes = female_playes["SN"].unique()
count_female_playes = len(clean_female_playes)
count_female_playes

81

In [13]:
percent_female_playes = (count_female_playes/total_number_players)*100
percent_female_playes

14.0625

In [14]:
other_playes = purchase_data.loc[(purchase_data["Gender"] == "Other / Non-Disclosed") , :]
clean_other_playes = other_playes["SN"].unique()
count_other_playes = len(clean_other_playes)
count_other_playes

11

In [15]:
percent_other_playes = (count_other_playes/total_number_players)*100
percent_other_playes

1.9097222222222223

In [16]:
pd.options.display.float_format = '{:,.2f}%'.format
fill_data = {"Total Count" : [count_male_playes , count_female_playes , count_other_playes ] ,
    "Percentage of Players" : [percent_male_playes , percent_female_playes , percent_other_playes ] ,     
}
labels = ['Male', 'Female', 'Other / Non-Disclosed']
gender_data_frame = pd.DataFrame(fill_data, index=labels)
gender_data_frame

                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%

## Purchasing Analysis (Gender)
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Gender

In [17]:
male_purchase_count = len(male_playes)
male_purchase_count

652

In [18]:
ave_male_purch = male_playes["Price"].mean()
ave_male_purch

3.0178527607361953

In [19]:
total_male_purch = male_playes["Price"].sum()
total_male_purch

1967.64

In [20]:
ave_male_purch_per = total_male_purch/count_male_playes
ave_male_purch_per

4.065371900826446

In [21]:
female_purchase_count = len(female_playes)
female_purchase_count

113

In [22]:
ave_female_purch = female_playes["Price"].mean()
ave_female_purch

3.203008849557519

In [23]:
total_female_purch = female_playes["Price"].sum()
total_female_purch

361.94

In [24]:
ave_female_purch_per = total_female_purch/count_female_playes
ave_female_purch_per

4.468395061728395

In [25]:
other_purchase_count = len(other_playes)
other_purchase_count

15

In [26]:
ave_other_purch = other_playes["Price"].mean()
ave_other_purch

3.3460000000000005

In [27]:
total_other_purch = other_playes["Price"].sum()
total_other_purch

50.19

In [28]:
ave_other_purch_per = total_other_purch/count_other_playes
ave_other_purch_per

4.5627272727272725

In [29]:
pd.options.display.float_format = '${:,.2f}'.format
fill_data = {"Purchase Count" : ["",female_purchase_count , male_purchase_count , other_purchase_count ] ,
    "Average Purchase Price" : ["",ave_female_purch , ave_male_purch , ave_other_purch ] , 
    "Total Purchase Value" : ["",total_female_purch , total_male_purch , total_other_purch ] ,         
    "Avg Total Purchase per Person" : ["",ave_female_purch_per , ave_male_purch_per , ave_other_purch_per ] , 
}
labels = ['Gender','Female', 'Male', 'Other / Non-Disclosed']
purchasing_analysis_data_frame = pd.DataFrame(fill_data, index=labels)
purchasing_analysis_data_frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

##  Age Demographics
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age Group

In [33]:
ad_bins = [0, 9, 14, 19, 24, 29, 34, 39, 60]
ad_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.cut(purchase_data["Age"], ad_bins, labels=ad_labels)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [36]:
purchase_data["Range Age"] = pd.cut(purchase_data["Age"], ad_bins, labels=ad_labels)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Range Age
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,$3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,$1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,$4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,$4.60,20-24

In [43]:
grouped_range_age = purchase_data.groupby("Range Age")

In [52]:
total_count_age = grouped_range_age["SN"].nunique()
total_count_age

Range Age
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [56]:
pd.options.display.float_format = '{:,.2f}%'.format
percentage_players_age = (total_count_age/total_number_players)*100
percentage_players_age

Range Age
<10      2.95%
10-14    3.82%
15-19   18.58%
20-24   44.79%
25-29   13.37%
30-34    9.03%
35-39    5.38%
40+      2.08%
Name: SN, dtype: float64

In [60]:
age_demographics_data_frame = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_players_age})
age_demographics_data_frame

           Total Count  Percentage of Players
Range Age
<10                 17                  2.95%
10-14               22                  3.82%
15-19              107                 18.58%
20-24              258                 44.79%
25-29               77                 13.37%
30-34               52                  9.03%
35-39               31                  5.38%
40+                 12                  2.08%

##  Purchasing Analysis (Age)
- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Age Group

In [63]:
purchase_count_age = grouped_range_age["Price"].count()
purchase_count_age

Range Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [65]:
average_purchase_price_age = grouped_range_age["Price"].mean()
average_purchase_price_age

Range Age
<10     3.35%
10-14   2.96%
15-19   3.04%
20-24   3.05%
25-29   2.90%
30-34   2.93%
35-39   3.60%
40+     2.94%
Name: Price, dtype: float64

In [66]:
total_purchase_value_age = grouped_range_age["Price"].sum()
total_purchase_value_age

Range Age
<10        77.13%
10-14      82.78%
15-19     412.89%
20-24   1,114.06%
25-29     293.00%
30-34     214.00%
35-39     147.67%
40+        38.24%
Name: Price, dtype: float64

In [72]:
avg_total_purchase_person_age = total_purchase_value_age/total_count_age
avg_total_purchase_person_age

Range Age
<10     4.54%
10-14   3.76%
15-19   3.86%
20-24   4.32%
25-29   3.81%
30-34   4.12%
35-39   4.76%
40+     3.19%
dtype: float64

In [90]:
pd.options.display.float_format = '${:,.2f}'.format
age_purchasing_analysis_data_frame = pd.DataFrame({"Purchase Count": purchase_count_age,
                                                   "Average Purchase Price": average_purchase_price_age,
                                                   "Total Purchase Value": total_purchase_value_age,
                                                   "Avg Total Purchase per Person": avg_total_purchase_person_age})
age_purchasing_analysis_data_frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Range Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders
dentify the the top 5 spenders in the game by total purchase value, then list (in a table):

- SN
- Purchase Count
- Average Purchase Price
- Total Purchase Value

In [120]:
grouped_purchase_data = purchase_data.groupby("SN")
grouped_purchase_data.count().head()

              Purchase ID  Age  Gender  Item ID  Item Name  Price  Range Age
SN
Adairialis76            1    1       1        1          1      1          1
Adastirin33             1    1       1        1          1      1          1
Aeda94                  1    1       1        1          1      1          1
Aela59                  1    1       1        1          1      1          1
Aelaria33               1    1       1        1          1      1          1

In [91]:
purchase_count_spenders = grouped_purchase_data["Price"].count()
purchase_count_spenders

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [92]:
average_purchase_price_spenders = grouped_purchase_data["Price"].mean()
average_purchase_price_spenders

SN
Adairialis76    $2.28
Adastirin33     $4.48
Aeda94          $4.91
Aela59          $4.32
Aelaria33       $1.79
                 ...
Yathecal82      $2.07
Yathedeu43      $3.01
Yoishirrala98   $4.58
Zhisrisu83      $3.94
Zontibe81       $2.68
Name: Price, Length: 576, dtype: float64

In [93]:
total_purchase_value_spenders = grouped_purchase_data["Price"].sum()
total_purchase_value_spenders

SN
Adairialis76    $2.28
Adastirin33     $4.48
Aeda94          $4.91
Aela59          $4.32
Aelaria33       $1.79
                 ...
Yathecal82      $6.22
Yathedeu43      $6.02
Yoishirrala98   $4.58
Zhisrisu83      $7.89
Zontibe81       $8.03
Name: Price, Length: 576, dtype: float64

In [119]:
spenders_data_frame = pd.DataFrame({"Purchase Count": purchase_count_spenders,
                                        "Average Purchase Price": average_purchase_price_spenders,
                                        "Total Purchase Value": total_purchase_value_spenders})
spenders_data_frame.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                   $2.28                 $2.28
Adastirin33                1                   $4.48                 $4.48
Aeda94                     1                   $4.91                 $4.91
Aela59                     1                   $4.32                 $4.32
Aelaria33                  1                   $1.79                 $1.79

In [118]:
top_spenders_data_frame = spenders_data_frame.sort_values("Total Purchase Value", ascending=False)
top_spenders_data_frame.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

##  Most Popular Items
Identify the 5 most popular items by purchase count, then list (in a table):

- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

In [99]:
item_group = purchase_data.groupby(["Item ID","Item Name"])

In [100]:
purchase_count_item = item_group["Price"].count()
purchase_count_item

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [104]:
item_price = total_purchase_value/purchase_count_item
item_price

Item ID  Item Name
0        Splinter                                       $1.28
1        Crucifer                                       $2.94
2        Verdict                                        $2.48
3        Phantomlight                                   $2.49
4        Bloodlord's Fetish                             $1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm   $4.23
179      Wolf, Promise of the Moonwalker                $4.48
181      Reaper's Toll                                  $1.66
182      Toothpick                                      $4.03
183      Dragon's Greatsword                            $1.09
Name: Price, Length: 179, dtype: float64

In [101]:
total_purchase_value = item_group["Price"].sum()
total_purchase_value

Item ID  Item Name
0        Splinter                                        $5.12
1        Crucifer                                       $11.77
2        Verdict                                        $14.88
3        Phantomlight                                   $14.94
4        Bloodlord's Fetish                              $8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm   $50.76
179      Wolf, Promise of the Moonwalker                $26.88
181      Reaper's Toll                                   $8.30
182      Toothpick                                      $12.09
183      Dragon's Greatsword                             $3.27
Name: Price, Length: 179, dtype: float64

In [121]:
popular_item_data_frame = pd.DataFrame({"Purchase Count": purchase_count_item,
                                        "Item Price": item_price,
                                        "Total Purchase Value": total_purchase_value})
popular_item_data_frame.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4       $1.28                 $5.12
1       Crucifer                         4       $2.94                $11.77
2       Verdict                          6       $2.48                $14.88
3       Phantomlight                     6       $2.49                $14.94
4       Bloodlord's Fetish               5       $1.70                 $8.50

In [122]:
top_popular_item_data_frame = popular_item_data_frame.sort_values("Purchase Count", ascending=False)
top_popular_item_data_frame.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items
Identify the 5 most profitable items by total purchase value, then list (in a table):

- Item ID
- Item Name
- Purchase Count
- Item Price
- Total Purchase Value

In [123]:
top_profitable_item_data_frame = top_popular_item_data_frame.sort_values("Total Purchase Value", ascending=False)
top_profitable_item_data_frame.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80